<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>^3</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Wrap #{ }</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>Wrap</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>A6423A16-6761-4901-95CB-7655952D1043</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>^l</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Insert =&gt;</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>Insert Arrow</string>
			<key>uuid</key>
			<string>C9298365-C62D-41F9-AE34-B6DE790650CE</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>(</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Parentheses</string>
			<key>script</key>
			<string>Parentheses</string>
			<key>uuid</key>
			<string>EE8B8E7D-F547-4029-B882-253AC9C3C78E</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>{</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Wrap { }</string>
			<key>script</key>
			<string>WrapCurly</string>
			<key>uuid</key>
			<string>D76B3BF5-1F56-432D-B7BA-8C87AEED1240</string>
		</dict>
	</array>
</dict>
</plist>
